header h1, header p {
	text-align: center;
	margin: 10px inherit;
}
.tweet-container {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.tweet-video {
	width: 560px;
}
.tweet-content {
	margin-left: 30px;
	width: 500px;
}

.toolbar {
	padding: 10px;
	margin-bottom: 10px;
	background: #ccc;
}

.toolbar form {
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
}

.toolbar input[type='text'] {
	margin-top:25px;
	width: 500px;
}